html,
body,
#root {
  background-color: #D4D4D4;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  height: 100%;
}

.content-container {
  flex-grow: 1;
}

.main-content {
  margin-top: 20px;
}
